nav, ul{
    display: flex;
    /* border: 2px solid; */
    align-items: center;
    justify-content: space-around;
}
ul{
    list-style-type: none;
    gap: 30px;
}
a{
    text-decoration: none;
    color: black;
}
/* header ends  */

.hero{
    display: flex;
    justify-content: space-around;
}

.hero img{
    width: 350px;
}

#description{
    font-size: 50px;
}

button{
    width: 150px;
    background-color: rgb(52, 52, 202);
    padding: 15px 0;
    color: white;
    border-radius: 5px;
    border: none;
}




footer{
    /* height: 100px; */
    text-align: center;
    /* align-content: end; */
    align-content: center;
    /* background-color: lightblue; */
}







